@import "./styles/theme.css";

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: block;         
  min-height: 100vh;
}


#root {
  min-height: 100vh;
}


a { text-decoration: none; }
a:hover { text-decoration: none; }
